<app-logo (click)="home()"></app-logo>

<div class="cpt-grid-apps"
     fxLayout="row"
     fxLayoutAlign="center center"
     *ngIf="breakpoint$ | async">
  <section fxLayout="column"
           fxLayoutAlign="start center"
           fxLayoutGap="2rem">

      <mat-grid-list [ngClass]="gridClass$ | async"
                     [cols]="columns$ | async"
                     rowHeight="181px"
                     gutterSize="1rem">
        <mat-grid-tile *ngFor="let app of apps$ | async">
          <app-menu-item [app]="app"></app-menu-item>
        </mat-grid-tile>
      </mat-grid-list>
  </section>
</div>
